<div class="wrapper">
    <article class="viewport">
        <section class="cube">
            @* Up *@
            <div>
            </div>
            @* About side *@
            <div>
                <h2 class="musicTitle">Music softwares</h2>
                <p class="softwares">Ableton Live 10</p>
                <p class="softwares">VOCALOID</p>
            </div>
            @* Languages side *@
            <div class="languages">
                <h2 class="languagesTitle"> Languages</h2>
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    French
                </div>
                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                    English
                </div>
                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                    Spanish
                </div>
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%">
                    Japanese
                </div>
            </div>
            @* Skills side *@
            <div class="skills">
                <h2 class="skillsTitle"> Skills</h2>
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                    JEE
                </div>
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                    .NET
                </div>
                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                    JS/CSS
                </div>
                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                    SQL
                </div>
                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                    Android/iOS
                </div>
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                    Unity
                </div>
            </div>
            <div>
                <h2 h2 class="hobbiesTitle">Hobbies</h2>
                <p class="hobbies">Music</p>
                <p class="hobbies">Anime</p>
                <p class="hobbies">Video games</p>
                <p class="hobbies">Coding</p>
            </div>
            @* Bottom *@
            <div>
            </div>
        </section>
    </article>
</div>