@{
    ViewBag.Title = "Home Page";
}

<div id="bodyindex">
    <h1>Under construction</h1>
    <p>Migrating to ASP.NET from MEAN stack.</p>

    <p>Update : I've begun to work on my website again recently so there will be some changes soon.
    You should expect some articles and widgets like "Waifu of the season" or "My TOP3 OP/ED of the season" for example.</p>
</div>