@{
    ViewBag.Title = "Home Page";
}

<div id="content">
    <h1><img class="logo" src="/Images/logo.png" width="600" height="90" id="logo" alt="hayatsune.com" /></h1>
    <section id="works">
        <header>
            <h2><span>WORKS</span></h2>
        </header>
        <div class="section">
            <center>In progress.</center>
        </div>
    </section>
    <section id="about">
        <header>
            <h2><span>ABOUT</span></h2>
        </header>
        @RenderPage("About.cshtml")
    </section>
    <section id="contact">
        <header>
            <h2><span>CONTACT</span></h2>
        </header>
        <div class="innerS">
            <div class="contact">
                contact@hayatsune.com
            </div>
        </div>
    </section>
</div>
