@{
    ViewBag.Title = "Home Page";
}

<div class="content">
    <img class="logo" src="/Images/logo.png" width="600" height="90" id="logo" alt="hayatsune.com" />
    <div class="works" id="works">
            <h2><span>WORKS</span></h2>
        <div class="worksSection">
            <center>In progress.</center>
        </div>
    </div>
    <div class="about" id="about">
        <h2><span>ABOUT</span></h2>
        <div class="aboutSection">
        @RenderPage("About.cshtml")
        </div>
    </div>
    <div class="contact" id="contact">
            <h2><span>CONTACT</span></h2>
        <div class="innerS">
            <div class="contactSection">
                contact@hayatsune.com
            </div>
        </div>
    </div>
</div>
