h2 {
    margin-top: 0;
    padding-bottom:20px;
    font-size:55px;
    text-align:center;
}

#languages {
    font-size:35px;
    padding-bottom:35px;
    vertical-align:middle;
    line-height: 35px;
}

#skills {
    font-size:35px;
    padding-bottom:35px;
    vertical-align:middle;
    line-height: 35px;
}

#about {
    font-size:25px;
    padding-bottom:5px;
    vertical-align:middle;
    line-height: 25px;
    text-align:center;
}

#hobbies {
    font-size:35px;
    padding-bottom:10px;
    vertical-align:middle;
    line-height: 35px;
    text-align:center;
}

.wrapper {
    cursor:default;
}

.fa-twitter, .fa-youtube-play, .fa-medium, .fa-github, .fa-tumblr, .fa-steam {
    color: #808080;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.fa-twitter:hover, .fa-youtube-play:hover, .fa-medium:hover, .fa-github:hover, .fa-tumblr:hover, .fa-steam:hover {
    color: #FFFFFF;

}

.social {
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
}

.socialleft {
    float:left;
    padding-left:100px;
}

.socialright {
    float:right;
    padding-right:100px;
}

.right {
    float:right;
}

.left {
    float:left;
}


.viewport {
    -webkit-perspective: 800px;
    -webkit-perspective-origin: 50% 200px;
    -webkit-transform: scale(0.75,0.75);
    -moz-perspective: 800px;
    -moz-perspective-origin: 50% 200px;
    -moz-transform: scale(0.75,0.75);
    perspective: 800px;
    perspective-origin: 50% 200px;
    transform: scale(0.75,0.75);
}

.cube {
    position: relative;
    margin: 0 auto 100px;
    height: 800px;
    width: 400px;
    -webkit-transition: -webkit-transform 50ms linear;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(-10deg) rotateY(20deg);
    -moz-transition: -moz-transform 50ms linear;
    -moz-transform-style: preserve-3d;
    -moz-transform: rotateX(-10deg) rotateY(20deg);
    transition: transform 50ms linear;
    transform-style: preserve-3d;
    transform: rotateX(-10deg) rotateY(20deg);
}

.cube h2 {
    color: #fff;
    padding-top: 0;
    margin-top: 0;
}

.cube a {
    color: #fff;
}

.cube > div {
    position: absolute;
    height: 400px;
    width: 400px;
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.85);
    font-size: 1em;
    line-height: 1em;
    color: #fff;
    border: 1px solid #555;
    border-radius: 3px;
}

.cube > div:first-child  {
    -webkit-transform: rotateX(90deg) translateZ(200px);
    -moz-transform: rotateX(90deg) translateZ(200px);
    transform: rotateX(90deg) translateZ(200px);
}

.cube > div:nth-child(2) {
    -webkit-transform: translateZ(200px);
    -moz-transform: translateZ(200px);
    transform: translateZ(200px);
}

.cube > div:nth-child(3) {
    -webkit-transform: rotateY(90deg) translateZ(200px);
    -moz-transform: rotateY(90deg) translateZ(200px);
    transform: rotateY(90deg) translateZ(200px);
}

.cube > div:nth-child(4) {
    -webkit-transform: rotateY(180deg) translateZ(200px);
    -moz-transform: rotateY(180deg) translateZ(200px);
    transform: rotateY(180deg) translateZ(200px);
}

.cube > div:nth-child(5) {
    -webkit-transform: rotateY(-90deg) translateZ(200px);
    -moz-transform: rotateY(-90deg) translateZ(200px);
    transform: rotateY(-90deg) translateZ(200px);
}

.cube > div:nth-child(6) {
    -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
    -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
    transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
}

object {
    opacity: 0.5;
}

object:hover {
    opacity: 1;
}