@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Modern+Antiqua);

/* reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
}

ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th {
    text-align: left;
}

q:before, q:after {
    content: '';
}

object, embed {
    vertical-align: top;
}

legend {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

img, abbr, acronym, fieldset {
    border: 0;
}

body {
    font: 14px/1.9 'Noto Sans JP', Arial, Verdana, æ¸¸ã‚´ã‚·ãƒƒã‚¯, YuGothic,'ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ ProN W3', 'Hiragino Kaku Gothic ProN', ãƒ¡ã‚¤ãƒªã‚ª, Meiryo,sans-serif;
    font-weight: 300;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    color: #000;
    background: #fff;
}

a {
    color: #0066ff;
    text-decoration: none;
}

    a:hover, .active {
        text-decoration: underline;
    }

    a:active, a:focus, input:active, input:focus {
        outline: 0;
    }


/* ãƒ˜ãƒƒãƒ€ãƒ¼
------------------------------------------------------------*/
#mainnav a {
    color: #000;
    font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}


/* ãƒ•ãƒƒã‚¿ãƒ¼
------------------------------------------------------------*/
#footer {
    clear: both;
    padding: 50px 10px 50px 0;
    text-align: center;
    font-size: 12px;
}


/* å…±é€š
------------------------------------------------------------*/
h1, h2 {
    font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    clear: both;
}

    section h2 {
        width: 60%;
        margin: 70px auto;
        font-size: 22px;
        font-weight: normal;
        text-align: center;
    }

        section h2 span {
            padding-bottom: 20px;
            border-bottom: 3px solid #000;
        }

.inner {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
}

#sec03 .inner, #sec04 .inner {
    border-bottom: 1px solid #a0a0a0;
}

.innerS {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 80px;
}


/* SEC02 Gallery
------------------------------------------------------------*/
#sec02 {
    padding: 0 !important;
}

    #sec02 header {
        display: none;
    }

#gallery {
    overflow: hidden;
}

    #gallery li {
        float: left;
        width: calc(100%/3);
        line-height: 0;
    }

        #gallery li.full {
            width: 100%;
        }


    #gallery img {
        display: block;
        width: 100%;
        height: auto;
    }


/* SEC03 BRAND
------------------------------------------------------------*/
.col4 .img {
    margin: 0 auto;
}



/* SEC04 PROJECT
------------------------------------------------------------*/
#sec04 {
    padding-bottom: 0 !important;
}

.article {
    clear: both;
    overflow: hidden;
    padding-bottom: 50px;
}

    .article img {
        float: left;
        margin: 5px 20px 20px;
    }

    .article p {
        margin-bottom: 20px;
    }



/* SEC05 COMPANY
------------------------------------------------------------*/
#sec05 p {
    margin-bottom: 5px;
}

.col2 li {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
}

#map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    z-index: 0;
}

    #map iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
        border: 0;
    }



/* RESPONSIVE è¨­å®š
------------------------------------------------------------*/

@media only screen and (min-width: 800px) {
    body {
        font-size: 14px;
    }

    #wrapper {
        width: 100%;
    }

    #content {
        width: 80%;
    }

    #sidebar {
        width: 12%;
        position: fixed;
        top: 0;
        right: 4%;
        background: #fff;
    }

    a#menu {
        display: none;
    }

    .panel {
        display: block !important;
    }

    #sidebar h1 {
        padding: 30px 0;
    }

    #mainnav li {
        font-size: 14px;
        padding: 10px 0;
    }

    #sns {
        margin-top: 50px;
    }

        #sns li {
            display: inline-block;
            padding-right: 10px;
        }

        #sns a:hover img {
            opacity: .8;
        }

    /* SEC03 BRAND
	-----------------*/
    .col4 {
        text-align: center;
    }

        .col4 li {
            display: inline-block;
            width: 18%;
            padding: 0 3%;
            vertical-align: top;
            text-align: left;
        }

    #map iframe {
        height: 200px !important;
    }

    #footer {
        padding: 30px 10px 70px 0;
    }
}


@media only screen and (min-width: 641px) {
    .col2 li {
        width: 60%;
        vertical-align: top;
    }

        .col2 li:first-child {
            width: 35%;
            padding-right: 4%;
        }
}

@media only screen and (max-width: 640px) {
    .innerS {
        width: 94%;
        padding-bottom: 30px;
    }

    #gallery li {
        float: none;
        width: 100%;
    }

    .article img {
        float: none;
        display: block;
        margin: 0 auto 20px;
    }

    #map iframe {
        width: 96% !important;
        left: 2%;
    }
}

@media only screen and (max-width: 799px) {
    #sidebar {
        position: fixed;
        width: 100%;
        z-index: 500;
    }

    #sidebarWrap {
        position: relative;
        width: 100%;
        height: 60px;
        background: #fff;
        border-bottom: 1px solid #ccc;
    }

    #sidebar h1 {
        text-align: center;
        padding-top: 15px;
    }

        #sidebar h1 img {
            width: auto !important;
            max-height: 25px;
        }

    a#menu {
        display: inline-block;
        position: relative;
        width: 40px;
        height: 40px;
        margin: 10px;
    }

    #menuBtn {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 18px;
        height: 2px;
        margin: -1px 0 0 -7px;
        background: #000;
        transition: .2s;
    }

        #menuBtn:before, #menuBtn:after {
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 18px;
            height: 2px;
            background: #000;
            transition: .3s;
        }

        #menuBtn:before {
            margin-top: -7px;
        }

        #menuBtn:after {
            margin-top: 5px;
        }

    a#menu .close {
        background: transparent;
    }

        a#menu .close:before, a#menu .close:after {
            margin-top: 0;
        }

        a#menu .close:before {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }

        a#menu .close:after {
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
        }

    .panel {
        width: 100%;
        display: none;
        overflow: hidden;
        position: relative;
        left: 0;
        top: -10px;
        z-index: 100;
    }

    #mainnav {
        position: absolute;
        top: 0;
        width: 100%;
        text-align: right;
    }

        #mainnav ul {
            border-bottom: 1px solid #ccc;
            background: #fff;
            text-align: left;
        }

        #mainnav li a {
            position: relative;
            display: block;
            padding: 15px 25px;
            border-bottom: 1px solid #ccc;
            color: #000;
            font-weight: 400;
        }

            #mainnav li a:before {
                display: block;
                content: "";
                position: absolute;
                top: 50%;
                left: 5px;
                width: 6px;
                height: 6px;
                margin: -4px 0 0 0;
                border-top: solid 2px #000;
                border-right: solid 2px #000;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }

        #mainnav #sns li {
            display: inline-block;
        }

            #mainnav #sns li a {
                position: relative;
                display: inline-block;
                padding: 15px 10px 0;
                border: 0;
            }

                #mainnav #sns li a:before {
                    border: 0;
                }

    .col4 li {
        margin: 0 auto 50px;
        display: block;
        text-align: center;
    }

    section h2 {
        margin: 55px auto;
    }
}

/* About section */
h2 {
    margin-top: 0; padding-bottom: 20px; font-size: 55px; text-align: center;
}

.parentskill, .parentlanguage {
    width: 100%;
    height: 100%;
}

.skillslist {
    font-size: 35px;
    vertical-align: middle;
    line-height: 35px;
    display: none;
    width: 100%;
    padding-bottom: 40px;
}

.languageslist {
    font-size: 35px;
    vertical-align: middle;
    line-height: 35px;
    display: none;
    width: 100%;
    padding-bottom: 40px;
}

.progress-bar {
    height: 35px;
}

.progress-bar-success {
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    height: 35px;
}

.progress-bar-info {
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    height: 35px;
}

.progress-bar-warning {
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    height: 35px;
}

.progress-bar-danger {
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    height: 35px;
}

#about {
    font-size: 25px;
    padding-bottom: 5px;
    vertical-align: middle;
    line-height: 25px;
    text-align: center;
}

#hobbies {
    font-size: 35px;
    padding-bottom: 10px;
    vertical-align: middle;
    line-height: 35px;
    text-align: center;
}

.wrapper {
    cursor: default;
}

.fa-twitter, .fa-youtube-play, .fa-medium, .fa-github, .fa-tumblr, .fa-steam {
    color: #808080;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

    .fa-twitter:hover, .fa-youtube-play:hover, .fa-medium:hover, .fa-github:hover, .fa-tumblr:hover, .fa-steam:hover {
        color: #FFFFFF;
    }

.social {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.socialleft {
    float: left;
    padding-left: 100px;
}

.socialright {
    float: right;
    padding-right: 100px;
}

.right {
    float: right;
}

.left {
    float: left;
    width: 100%;
}


.viewport {
    -webkit-perspective: 800px;
    -webkit-perspective-origin: 50% 200px;
    -webkit-transform: scale(0.75,0.75);
    -moz-perspective: 800px;
    -moz-perspective-origin: 50% 200px;
    -moz-transform: scale(0.75,0.75);
    perspective: 800px;
    perspective-origin: 50% 200px;
    transform: scale(0.75,0.75);
}

.cube {
    position: relative;
    margin: 0 auto 100px;
    height: 800px;
    width: 400px;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none; /* Opera */
    user-select: none;
    -webkit-transition: -webkit-transform 50ms linear;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(-10deg) rotateY(20deg);
    -moz-transition: -moz-transform 50ms linear;
    -moz-transform-style: preserve-3d;
    -moz-transform: rotateX(-10deg) rotateY(20deg);
    transition: transform 50ms linear;
    transform-style: preserve-3d;
    transform: rotateX(-10deg) rotateY(20deg);
}

    .cube h2 {
        color: #fff;
        padding-top: 0;
        margin-top: 0;
    }

    .cube a {
        color: #fff;
    }

    .cube > div {
        position: absolute;
        height: 400px;
        width: 400px;
        padding: 20px;
        background-color: rgba(50, 50, 50, 0.85);
        font-size: 1em;
        line-height: 1em;
        color: #fff;
        border: 1px solid #555;
        border-radius: 3px;
    }

        .cube > div:first-child {
            -webkit-transform: rotateX(90deg) translateZ(200px);
            -moz-transform: rotateX(90deg) translateZ(200px);
            transform: rotateX(90deg) translateZ(200px);
        }

        .cube > div:nth-child(2) {
            -webkit-transform: translateZ(200px);
            -moz-transform: translateZ(200px);
            transform: translateZ(200px);
        }

        .cube > div:nth-child(3) {
            -webkit-transform: rotateY(90deg) translateZ(200px);
            -moz-transform: rotateY(90deg) translateZ(200px);
            transform: rotateY(90deg) translateZ(200px);
        }

        .cube > div:nth-child(4) {
            -webkit-transform: rotateY(180deg) translateZ(200px);
            -moz-transform: rotateY(180deg) translateZ(200px);
            transform: rotateY(180deg) translateZ(200px);
        }

        .cube > div:nth-child(5) {
            -webkit-transform: rotateY(-90deg) translateZ(200px);
            -moz-transform: rotateY(-90deg) translateZ(200px);
            transform: rotateY(-90deg) translateZ(200px);
        }

        .cube > div:nth-child(6) {
            -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
            -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
            transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
        }

object {
    opacity: 0.5;
}

    object:hover {
        opacity: 1;
    }

/* Contact section */
.contact {
    text-align: center;
}


/* General */
body {
    font-family: 'Open Sans', sans-serif !important;
}

.navbar-header {
    display: inline;
}

#bodyindex {
    color: #cccccc;
}

#logomenu {
    color: #000000;
    -moz-transition: color .2s linear;
    o-transition: color .2s linear;
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
}

#logomenu:hover {
    color: #999999;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

a {
    text-decoration: none !important;
}

.twitter {
    color: #00ACED;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.twitter:hover {
    color: #4dcfff;
}

hr {
    border: 0 !important;
    height: 1px !important;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #bfbfbf, #f0f0f0) !important;
    background-image: -moz-linear-gradient(left, #f0f0f0, #bfbfbf, #f0f0f0) !important;
    background-image: -ms-linear-gradient(left, #f0f0f0, #bfbfbf, #f0f0f0) !important;
    background-image: -o-linear-gradient(left, #f0f0f0, #bfbfbf, #f0f0f0) !important;
}

#copyright {
    cursor: default;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 40px auto auto auto;
    text-align: center;
}