<div id="sidebar">
    <div id="sidebarWrap">
        <a href="http://Hayatsune.com" class="navbar-brand" id="logomenu">Hayatsune <span style="font-size:small;vertical-align:text-top;color:orange;">Beta</span></a>
        <nav id="mainnav">
            <p id="menuWrap"><a id="menu"><span id="menuBtn"></span></a></p>
            <div class="panel">
                <ul>
                    <li><a href="#top">TOP</a></li>
                    @*<li><a href="#news">NEWS</a></li>*@
                    <li><a href="#works">WORKS</a></li>
                    <li><a href="#about">ABOUT</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                </ul>
                <ul id="sns">
                    <li><a href="https://twitter.com/Hayatsune" target="_blank"><i class="fa fa-twitter fa-lg twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/Hayatsune" target="_blank"><i class="fa fa-instagram fa-lg instagram"></i></a></li>
                    <li><a href="https://www.youtube.com/user/Hayatsune" target="_blank"><i class="fa fa-youtube fa-lg youtube"></i></a></li>
                </ul>
                <p id="copyright" class="text-muted" href="http://Hayatsune.com">Hayatsune &copy; @DateTime.Now.Year</p>
            </div>
        </nav>
    </div>
</div>
